<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Community Rules</title>
</head>
<body>
<h1>Edit Community Rules for "{{ community_name }}"</h1>
<div class="container_x">
    <h2>Current Rules</h2>
    <p>{{ rules }}</p>
    <h2>Edit Rules</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
    </form>
</div>
</body>
</html>
